header,
main {
    padding: 0 240px;
    width: 100%;
}

header {
    background-color: rgba(255, 144, 14, 0.1);
}

header>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-name {
    font-size: 45px;
}


.nav-list {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-item {
    font-size: 18px;
}

.landing-page {}

.landing-title {
    font-size: 64px;
}

.landing-description {
    font-size: 16px;
    color: #727272;
}

.button {
    color: white;
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
}

.highlight {
    color: #FF900E;
}

.landing-banner {
    width: 100%;
    padding-bottom: 45px;
    border-radius: 8px;
}

.feature {}

.feature-img {
    display: flex;
}